.left__link-header {
    text-decoration: none;
    font-size: 16px;
    color: var(--white-color);
}
.grid_flex-left__header {
    width: 100%;
}
.grid_flex-left__header-text {
    text-align: center;
    padding: 10px;
    background: var(--color-shop);
}
.grid_flex {
    display: flex;
    margin: 10px 0 10px 0;
}
.grid_flex-left {
    overflow: hidden;
    background-color: var(--white-color);
    width: 18%;
    box-shadow: 0 0 3px var(--color-shop);
    /* border-radius: 15px ; */
}
.grid_flex-right {
    background-color: var(--white-color);
    /* border-radius: 15px ; */
    margin-left: 10px;
    width: 82%;
    display: flex;
    box-shadow: 0 0 3px var(--color-shop);
    flex-wrap: wrap;
    justify-content: center;
    /* min-height: 555px; */
    overflow: hidden;
}
.grid_flex-left__item {
    padding: 20px 0 100px 0;
}
.grid_flex-left__ul {
    list-style: none;
}
.grid_flex-left__li {
    margin: 0 10px;
    padding: 20px 20px 5px 20px;
    border-bottom: 1px solid var(--color-shop);
}
.grid_flex-left__a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
}
.grid_flex-left__a:hover {
    color: var(--color-shop);
}
.grid_flex-right__img {
    width: 70%;
    margin: auto;
}